<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nativendor</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/slide.css">
    <script type="text/javascript" src="lib/opennav.js"></script>

    <!--angular-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!--angular app scripts-->
    <script src="app.js"></script>
    <script src="controllers/list.js"></script>
  </head>

<body ng-controller="listController as lstctrl">

  <!--drawer-->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <!--end of drawer-->

   <!--header-->
    <section class="hero is-medium is-primary is-bold">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()"> <img src="nativendor logo latest.png"></span>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
                Nativendor Marketplace
              </h1>
              <h2 class="subtitle is-4">
                  Lorem ipsum dolor <strong>amet</strong> sit.
                  <br>
                  Lorem ipsum dolor <strong>amet</strong> sit.
                  <br>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--modal-->
    <!--the content needs to be modified based on which tile was clicked on-->
    <div id="modal-ter" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Item 1</p>
          <button class="delete" onclick="closeModal()"></button>
        </header>

        <img src="bulma-start.png">
        <section class="modal-card-body">
          Lorem ipsum dolor sit amet
        </section>
        <footer class="modal-card-foot">
          <a href="form.html"><button class="button is-success">Purchase</button> </a>
          <button class="button" onclick="closeModal()">Cancel</button>
        </footer>
      </div>
    </div>

    <!-- cards-->
    <section id="cards" class="section columns"> 
      <!--card-->
      <a onclick="openModal()"> 
      <div class="card column ng-repeat="hit in lstctrl.data | filter:lstctrl.filtered" >
        <div class="card-image">
          <figure class="image is-4by3">
            <img ng-src="{{hit.user.icon_url}" class="img-rounded img-responsive">
          </figure>
        </div>

        <div class="card-content">
          <div class="media">
              <div class="media-content">
                <p class="title is-4">{{hit.recipe.label}}</p>
            </div>
          </div>

         <div class="col text">
          <h5><strong>Calories/serving: </strong>
            {{(hit.recipe.calories)/(hit.recipe.yield) | number: 1}}
          </h5>
          <h5><strong>Recipe: </strong>
            <a href="{{hit.recipe.url}}" target="_blank">Click me!</a>
          </h5>
          <h5><strong>Health Labels: </strong> <span ng-repeat="healthLabel in hit.recipe.healthLabels">{{healthLabel + " | "}}</span> </h5>
          <h5><strong>Diets: </strong> <span ng-repeat="dietLabel in hit.recipe.dietLabels">{{dietLabel + " | "}}</span> </h5>
          <h5><strong>Source: </strong> {{hit.recipe.source}}</h5>
        </div>

        </div>
      </div>
      </a>
      <!--endofcard-->
      
    </section>


    <footer class="footer has-text-centered">
      <div class="container">
         <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <p>
              <strong class="has-text-weight-semibold">
                Built by The Winning Team @ BroncoHack 2018
              </strong>
            </p>
            <p style="margin-top: 1rem;">
              <a href="http://bulma.io">
                <img src="made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script async type="text/javascript" src="lib/main.js"></script>
  </body>
</html>
